<div id="list" v-cloak>

  <h1>TODO: Implement this page. Pug</h1>
  <p>(See also <em>assets/styles/pages/pug/list.less</em>, <em>assets/js/pages/pug/list.page.js</em>, and <em>api/controllers/pug/view-list.js</em>.)</p>

<h2>Pugs.length: {{pugs.length}}</h2>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
